{
    "gangway": {
        "client_id": "<self generated client_id (max 63 characters>",
        "client_secret": "<self generated secret (max 63 characters>",
        "session_security_key": "<self generated string (max 63 characters>"
    },
    "authBackends": {
        "github": {
            "name": "GitHub",
            "client_id": "<Github client ID>",
            "client_secret": "<Github client secret>",
            "extraSettings": {
                "orgs": [
                    {"name": "<Organization which allows to get token>"}
                ],
                "teamNameField": "slug (get safer versions of groups)",
                "useLoginAsID": true,
                "loadAllGroups": true
            }
        }
    }
}